@import "../../../assets/styles/colors.scss";

.error-box {
  color: $almost-white;
  text-align: center;
  //   margin: 24% auto;
  margin: 0 auto;
  vertical-align: middle;
  position: relative;
  transform: translateY(350%);

  h1 {
    // font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
