@import "../../../assets/styles/colors.scss";
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");

.error-box {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    // font-weight: bold;
    font-family: "Barlow", "Trebuchet MS", "Lucida Sans Unicode",
      "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    color: $lightest-accent;
  }
}
