@import "../../assets/styles/colors.scss";

.content-container {
  color: $almost-white;
  background-color: $lighter-black;
  //   background-color: $dark-purple-opaque;
  width: 100%;
  max-height: 100%;
  height: 1000px;
  margin-bottom: 40px;
  border-radius: 0px 0px 8px 8px;
  display: inline-block;
  // padding-top: 10px;

  //   padding: 10px;
}

//THIS IS THE GOLDEN COMBO FOR CENTERING
.main-container {
  margin: 0 auto;
  width: 100%;
}

// .blur {
//   height: 100%;
//   width: 100%;
//   filter: blur(8px);
//   -webkit-filter: blur(8px);
// }

// #music-player {
//   padding: 0px;
// }
