@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/common.scss";


.nav-container {
  color: $almost-white;
  width: 100%;
  margin-top: 50px;
  border-radius: 8px 8px 0px 0px;
  background-color: $almost-black;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 9px;
  font-weight: 300;
  text-transform: uppercase;
}

.nqme-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // flex-wrap: wrap;
}

#text-4-user {
  color: $purple-accent;
}

// should select all(immediate) children in nqme-row
// .nqme-row * {
//   margin-left: 5px;
//   margin-right: 5px;
// }

#search-input {
  border-color: $purple-accent;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  // border-radius: 25px 0px 25px 0px;
}

#button-input {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  // border-radius: 0px 25px 0px 25px;
}

// .attention-message {
//   font-family: $quicksand;
//   color: $pink;
// }

#search-div {
  // float: right;
  // width: 400px;
  max-width: 70%;
  margin-top: 2px;
  margin-bottom: 5px;
}

#logo-header {
  margin-top: 6px;
  font-family: $roboto-slab;
  font-weight: 1000;
}

#search-input:focus {
  // border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $accent-opaque;
}

#cogwheel {
  font-size: 23px;
  :hover {
    animation: rotateCog 4s infinite 0s linear;
  }
  padding: 0px;
  margin-top: 2px;
  margin-right: 5px;
}

#cogwheel:focus {
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px $accent-opaque;
}

@keyframes rotateCog {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}

#dropdown-div {
  position: absolute;
  margin-left: -200px;
  background-color: $lighter-black;
  border-radius: 10px;
  z-index: 10;
}

@media screen and (max-width: 750px) {
  #logo-header {
    display: none;
  }
  #search-div {
    // float: right;
    // width: 400px;
    max-width: 90%;
    margin-top: 2px;
    margin-bottom: 5px;
  }
}
