@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/common.scss";

.search-result-container {
  width: 100%;
}

.search-result-container-header {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  padding: 5px;
  background-color: $middle-black;
  display: inline-block;
}

.search-result-container-header h3 {
  color: $almost-white;
  margin-top: 5px;
  font-size: 23px;
  margin-bottom: 3px;
  padding-left: 5px;
  font-weight: 700;
}

.search-result-table {
  color: $dark-white;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  background-color: $lighter-almost-black;
  overflow-y: auto;
  max-height: 500px;
}

.search-result-holder {
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px 5px 5px 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: $lighter-black;

  width: 100%;
  display: inline-grid;
  grid-template-columns: 50px auto 50px;
  grid-template-rows: auto;
  // flex-flow: row wrap;
  // justify-content: space-between;

}

.corporation-icon {
  // grid-column-start: span 2;
}


.song-name p{
  text-align: left;
  word-wrap: break-word;
}

.btn-circle {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 6px 0;
  margin-right: 10px;
  font-size: 13px;
  border-radius: 20px;

  // grid-column-end: span 2;
}