$red: #ff0000;
$white: #ffffff;
$almost-white: #fefff1;
$dark-white: #d1c7d3;
// $dark-white: #575058;
$gray: #808080;
$pink: #ffcbdb;
$brown: #964b00;
$orange: #ff7f00;
$yellow: #ffff00;
$green: #00ff00;
$cyan: #00ffff;
$blue: #0000ff;
$violet: #7f00ff;
$black: #000000;
$duke-blue: #001a57;
$blue-gray: #6699cc;
$main-green: #00647d;
$alice-blue: #f0f8ff;
$ash-gray: #b2beb5;
$blood-brown: rgb(54, 41, 30);
$opaque: rgba(black, 0.5);
$dark-purple: #1f1b24;
$dark-purple-opaque: rgba(31, 27, 36, 0.95);
$almost-black: #222222;
$lighter-almost-black: #272727;
$middle-black: #313131;
// $lighter-black: #3d3d3d;
$lighter-black: #363636;
$light-accent: #ac7097;
$lightest-accent: #de99e4;
// $lightest-accent: #e499ca;
$purple-accent: #704060;
$darkest-accent: #422638;
$dark-accent: #522f46;
$hover-accent: #af7972;
$accent-opaque: rgba(175, 121, 114, 0.6);

//this color is used if no color is specified
$default-text-color: $violet !default;
