@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$quicksand: "Quicksand";
$roboto-slab: "Roboto Slab", serif;
$open-sans: "Open Sans", serif;
