@import "../../../assets/styles/colors.scss";
@import "../../../assets/styles/fonts.scss";
@import "../../../assets/styles/common.scss";

.search-result-container {
  width: 100%;
}

.queue-container-header {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  padding: 5px;
  background-color: $middle-black;
  display: inline-block;

  h3 {
    color: $almost-white;
    margin-top: 5px;
    font-size: 23px;
    margin-bottom: 3px;
    padding-left: 5px;
    font-weight: 700;
  }
}

.queue-table {
  color: $dark-white;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
  background-color: $lighter-almost-black;
  overflow-y: auto;
  max-height: 500px;
}

.queue-holder {
  padding-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px 5px 5px 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: $lighter-black;

  width: 100%;
  display: inline-grid;
  grid-template-columns: auto 75px;
  grid-template-rows: auto;

  border-left-style: inset;
}

.song-name p {
  text-align: left;
  word-wrap: break-word;
}

.btn-beat {
  width: 57px;
  height: 40px;
  display: inline-block;
  text-align: left;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.accented-text {
  color: $light-accent;
}
.num-likes {
  font-size: 20px;
  font-weight: 700;
  padding-right: 4px;
}
